
// Import Dependencies
@import 'site-settings';
@import '../dependencies/oneframework/scss/oneframework',
'../dependencies/oneframework/scss/extensions/btt-button',
'project',
'addons/textsizer',
'addons/sliders',
'addons/headers',
'addons/contact',
'addons/ctas',
'addons/mediabox',
'addons/hearingaids',
'addons/footer',
'addons/blockquote';


/* Navigation
===================================================*/
$nav-wrap-bg                 : $primary-accent-color;
$nav-border-top              : none;
$nav-border-bottom           : 1px solid $white;
$nav-item-border             : 1px solid $white;
$nav-dropdown-border         : 1px solid $white;
$nav-dropdown-item-border    : 1px solid $white;
$nav-dropdown-border-radius  : 2px;

.navbar-inline > ul {
  > li {
    &.active > a,
    &:hover > a  {
      background-color: transparent !important;
      box-shadow: inset 0 -5px 0px -1px $primary-accent-color;
      color: $base-font-color;
    }
    > a {color: $base-font-color !important;}
  }
}

.navbar-wrapper {
  background: $nav-wrap-bg;
  border-top: $nav-border-top;
  border-bottom: $nav-border-bottom;
  position: relative;
  z-index: 2000;
  .navbar {
    position: relative;
    > ul > li {
      @if ($nav-item-border != none) {
        &:first-child > a {
          border-left: $nav-item-border;
        }
      }
      > a {
        @if ($nav-item-border != none) {
          border-right: $nav-item-border;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  > ul > li {
    &:hover > a,
    &:focus > a,
    &.active > a {

    }
    > a {
      &[href*="javascript"] {
        cursor: default;
        &:after {
          content: '\f107';
          font-family: 'FontAwesome';
          margin-left: 5px;
          line-height: 0;
        }
      }
    }
    &:not(.has-columns) > ul {
      @if ($nav-dropdown-border != none) {
        border: $nav-dropdown-border;
        left: -1px;
      }
      @if ($nav-dropdown-border-radius != 0) {
        @include border-bottom-radius(2px);
      }
      > li {
        &:hover > a,
        &:focus > a,
        &.active > a {

        }
        ul {border: $nav-dropdown-item-border;}
      }
      li a {
        border-top: $nav-dropdown-item-border;
      }
      li:first-child a {
        border-top: none;
      }
      li:last-child a {
        @if ($nav-dropdown-border-radius != 0) {
          @include border-bottom-radius(2px);
        }
      }
    }
    &.has-columns > ul {
      @if ($nav-dropdown-border != none) {
        border: $nav-dropdown-border;
        left: -1px;
      }
      @if ($nav-dropdown-border-radius != 0) {
        @include border-bottom-radius(2px);
      }
      > li > a {
        font-weight: bold;
      }
      > li > a:hover,
      > li:hover > a {
        background: none;
      }
      li > ul > li > a {
        border-top: 1px solid #fff;
      }
    }
  }
}


/* Slider Specifics
===================================================*/
.slide-1 {@include cover-background('slide-1.jpg');}
.slide-2 {@include cover-background('slide-2.jpg');}
.slide-3 {@include cover-background('slide-3.jpg');}

#slider-full {
  .slide-content {
    h3 {font-size: rem(44);}
    p  {font-size: rem(18);}
    .btn {@extend %btn-white;}
  }
}

/* CTAs
===================================================*/
.ctas {
  background: $lightgrey;
  padding: rem(40 0);
  @include cta();
  .cta {
    @include breakpoint(small only) {
      margin-bottom: 2rem;
    }
  }
}
// Bordered Icon CTA
// @include cta(
//   $img-size: 100px,
//   $img-bg: transparent,
//   $img-radius: 50%,
//   $img-height: 100px,
//   $img-line-height: 100px,
//   $img-color: $primary-accent-color,
//   $img-border: 3px solid $primary-accent-color,
//   $icon-size: $base-title-h1,
//   $heading-font-size: 21px,
//   $box-shadow: none,
//   $text-padding: 20px 0 0,
//   $text-align: center,
//   $z-index: 3,
//   $border-width: 0
// );

// Service Icon CTA
// @include cta(
//   $img-size: 70px,
//   $img-radius: 50%,
//   $img-height: 70px,
//   $img-line-height: 70px,
//   $img-color: $white,
//   $icon-size: $base-title-h2,
//   $box-shadow: none,
//   $text-padding: 20px 0 0,
//   $z-index: 3,
//   $border-width: 0
// );

/* Homepage Content Blocks
===================================================*/
.hp-section {
  .by-line {
    font-family: $alt-font;
    font-size: rem(14);
    text-transform: uppercase;
    color: $primary-accent-color;
    margin: 0;
  }

  @include breakpoint(medium down) {
    .btn + .btn {margin-top: 1rem;}
  }

  &.first {}
  &.second {}
  &.third {}
  &.fourth {}
  &.fifth {}
}

// Interior Page
//-----------------------------------------
#sub-banner {
  @include cover-background('bg-interior-banner.jpg');
  padding: rem(60 0);
  h3 {
    text-transform: uppercase;
    color: $white;
  }
}

.main-content-wrap {
  background-color: $white;
  padding: rem(60 0);
  // Boxed Main Content
  // #main-content {
  //   background: $white;
  //   padding: rem(30);
  //   box-shadow: 0px 2px 4px 0px rgba(37, 46, 55, 0.1);
  // }
}

#sidebar {
  @media only screen and (max-width: 40em) { margin-top: rem(40);}
  @include cta;
  .cta {margin-bottom: rem(30);}
}

/* Footer
===================================================*/
.footer-logo {
  background: $white;
  padding: rem(10);
}
footer {}
