{{>html-top}}
{{>header-basic}}
  <div id="sub-banner">
    <div class="row">
      <div class="small-12 columns">{{{fragment.interior-banner}}}</div>
    </div>
  </div>
  <div class="main-content-wrap">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{page.Page.title}}</h1>
        {{{pageContent}}}
      </div>
    </div>
  </div>
<div class="hidden-widgets">{{{sidebar}}}</div>
{{>footer}}
{{>html-bottom}}
