{{>html-top}}
{{>header}}
  {{>sub-banner}}
  <div class="main-content-wrap">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{pageTitle}}</h1>
        {{{pageContent}}}
      </div>
    </div>
  </div>
<div class="hidden-widgets">{{{sidebar}}}</div>
{{>footer}}
{{>html-bottom}}
