{{>html-top}}
{{>header}}
  <section>
    <div id="home-content">
      <div class="hp-section first"></div>
    </div>
    <section>
      <div class="hp-section second"></div>
    </section>
    <section>
      <div class="hp-section third"></div>
    </section>
    <section>
      <div class="hp-section fourth"></div>
    </section>
  </section>
<div class="hidden-widgets">{{{sidebar}}}</div>
{{>footer}}
{{>html-bottom}}
