#main-banner {
  position: relative;
  #slide-controls-container {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 300;
    a {
      display: block;
      width: rem(45);
      height: rem(50);
      text-align: center;
      line-height: rem(50);
      background-color: rgba(black, .5);
      color: white;
      opacity: .7;
      position: absolute;
      font-size: rem(18);
      &#prev {
        left: rem(0);
        @include border-right-radius(3px);
      }
      &#next {
        right: rem(0);
        @include border-left-radius(3px);
      }
      &:hover, &:focus {opacity: 1 ;}
    }
  }
  #slide-pager {
    position: absolute;
    bottom: rem(50);
    width: 100%;
    text-align: center;
    z-index: 999;
    a {
      display: inline-block;
      width: rem(10);
      height: rem(10);
      @include border-radius(50%);
      opacity: .7;
      margin: rem(0 2);
      text-indent: -9999px;
      background-color: $primary-accent-color;
      &.cycle-pager-active {opacity: 1;}
    }
  }
  #slider {
    .slide {
      width: 100%;
      padding: rem(30 0);
    }
  }
}
