.hidden-widgets > div {
  &:not(.survey-test):not(.survey-message) {
    display: none;
  }
}

.questions {
  padding: 40px 0;
  p {
    padding: 0;
  }
}
.score-wrapper {
  background-color: $info-success;
  margin-bottom: 20px;
  padding: 15px;
  color: $base-font-color;
  text-align: center;
  border: 1px solid darken($info-success, 10%);
}

.btn-survey, .results button, .answer, .results button, button.btn-contact {
  @extend .btn;
}
