<section class="ctas">
  <h2 class="h-outline">Call to Actions</h2>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="cta">
        <div class="cta-img">
          <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-1.jpg" alt="" >
        </div>
        <div class="cta-text">{{{fragment.cta-1}}}</div>
      </div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="cta">
        <div class="cta-img">
          <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-2.jpg" alt="" >
        </div>
        <div class="cta-text">{{{fragment.cta-2}}}</div>
      </div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="cta">
        <div class="cta-img">
          <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-3.jpg" alt="" >
        </div>
        <div class="cta-text">{{{fragment.cta-3}}}</div>
      </div>
    </div>
  </div>
</section>
