<section class="ctas">
  <h2 class="h-outline">Call to Actions</h2>
  <div class="row medium-unstack">
    <div class="large-4 columns">
      <div class="cta">
        <div class="cta-icon">
          <i class="fa fa-volume-up"></i>
        </div>
        <div class="cta-text">{{{fragment.cta-1}}}</div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="cta">
        <div class="cta-icon">
          <i class="fa fa-star"></i>
        </div>
        <div class="cta-text">{{{fragment.cta-2}}}</div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="cta">
        <div class="cta-icon">
          <i class="fa fa-heart"></i>
        </div>
        <div class="cta-text">{{{fragment.cta-3}}}</div>
      </div>
    </div>
  </div>
</section>
