<section class="ctas">
  <h2 class="h-outline">Call to Actions</h2>
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="cta first">
        <div class="row align-stretch small-collapse medium-unstack">
          <div class="medium-5 columns cta-img">
            <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-1.jpg" alt="" >
          </div>
          <div class="medium-7 columns cta-text">
            <div class="cta-text-inner">{{{fragment.cta-1}}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="cta second">
        <div class="row align-stretch small-collapse medium-unstack">
          <div class="medium-5 columns cta-img">
            <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-2.jpg" alt="" >
          </div>
          <div class="medium-7 columns cta-text">
            <div class="cta-text-inner">{{{fragment.cta-2}}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
