<section class="ctas">
  <h2 class="h-outline">Call to Actions</h2>
  <div class="row medium-unstack">
    <div class="columns">
      <div class="cta">
        <div class="row align-center">
          <div class="small-5 medium-3 columns">
            <div class="cta-icon">
              <i class="fa fa-volume-up"></i>
            </div>
          </div>
          <div class="columns">
            <div class="cta-text">{{{fragment.cta-1}}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="cta">
        <div class="row align-center">
          <div class="small-5 medium-3 columns">
            <div class="cta-icon">
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="columns">
            <div class="cta-text">{{{fragment.cta-2}}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
