<section class="ctas">
  <h2 class="h-outline">Call to Actions</h2>
  <div class="cta">
    <div class="row medium-unstack align-middle align-center">
      <div class="small-5 medium-3 large-2 columns">
        <div class="cta-img">
          <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/cta-1.jpg" alt="" >
        </div>
      </div>
      <div class="columns">
        <div class="cta-text">
          <div class="row align-middle large-unstack">
            <div class="columns">
              {{{fragment.cta-single}}}
            </div>
            <div class="columns shrink">
              {{{fragment.cta-single-btn}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
