<div id="cta-section">
  <div class="row">
    <div class="medium-4 columns">
      <div class="media-box cta">
        <div class="media-box-img">
          <img src="{{{cdn.projects}}}projects/SITE_URL/images/" alt="">
        </div>
        <div class="media-box-details">
          {{{fragment.cta1}}}
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="media-box cta">
        <div class="media-box-img">
          <img src="{{{cdn.projects}}}projects/SITE_URL/images/" alt="">
        </div>
        <div class="media-box-details">
          {{{fragment.cta2}}}
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="media-box cta">
        <div class="media-box-img">
          <img src="{{{cdn.projects}}}projects/SITE_URL/images/" alt="">
        </div>
        <div class="media-box-details">
          {{{fragment.cta3}}}
        </div>
      </div>
    </div>
  </div>
</div>
