<div class="backtotop-btn">
  <div class="backtotop-inner">
    <i class="fa fa-angle-up"></i>
  </div>
</div>
<footer>
  <h2 class="h-outline">Footer</h2>
  <div class="footer-nav-wrap">
    <div class="row large-unstack">
      <div class="large-3 columns">
        <div class="footer-mission">
          <div class="footer-logo">
            
          </div>
          {{{fragment.footer-mission}}}
        </div>
      </div>
      <div class="large-3 columns large-offset-1">
        <nav class="footer-nav" >
          <h3>Navigation</h3>
          <ul>
            {{{menu.footer}}}
          </ul>
        </nav>
      </div>
      <div class="large-4 columns large-offset-1">
        <div class="footer-last">
          <h3>Get in Touch</h3>
          {{{fragment.footer-contact}}}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-meta-container">
    <div class="row">
      <div class="medium-12 columns">
        <span>Site Designed by <a href="http://www.audiologydesign.com" rel="nofollow" target="_blank">Audiology Design</a> | {{year}} All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
