<div class="responsive-navbar FixedTop clearfix">
  <a href="#responsive-menu" id="hamburger"><span></span></a>
</div>
<div class="menu-wrapper" style="display:none;">
  <nav id="responsive-menu">
    <ul>
      {{{menu.main}}}
    </ul>
  </nav>
</div>
<header class="header-basic">
  <div class="header-wrapper header-top-section header-transition">
    <div class="header-container">
      <div class="head-contact">
        <div class="head-contact-list">
          {{{fragment.header-left}}}
        </div>
      </div>

      <div class="head-social">
        <div class="head-social-list">
          {{{fragment.header-right}}}
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom-section">
		<div class="row align-middle">
      <div class="medium-3 small-12 columns">
        <div class="logo">
          <a href="{{themeWebroot}}" title="{{page.SiteInstance.Site.Account.name}}">
            <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/" alt="{{page.SiteInstance.Site.Account.name}}">
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="header-info">
          {{{fragment.header-info}}}
        </div>
      </div>
		</div>
  </div>
</header>

<div class="navbar-wrapper">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="h-outline">Navigation</h2>
      <nav class="navbar">
        <ul class="clearfix">
          {{{menu.main}}}
        </ul>
      </nav>
    </div>
  </div>
</div>
