{{>responsive_menu}}
<header class="header-inline sticky-nav">
  <div class="header-wrapper header-top-section header-transition">
    <div class="header-container">
      <div class="head-contact">
        <div class="head-contact-list">
          {{{fragment.header-left}}}
        </div>
      </div>

      <div class="head-social">
        <div class="head-social-list">
          {{{fragment.header-right}}}
        </div>
      </div>
    </div>
  </div>
  <div class="header-wrapper header-bottom-section header-transition">
    <div class="header-container">
      <div class="logo">
        <a href="{{themeWebroot}}">
          <span class="logo-wrapper">
            <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/" alt="">
          </span>
        </a>
      </div>

      <nav class="navbar navbar-inline navbar-arrow">
        <h2 class="h-outline">Navigation</h2>
        <ul>
          {{{menu.main}}}
        </ul>
      </nav>
      <div class="responsive-toggle">
        <a href="#responsive-menu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
</header>
