</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')</script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.min.js"></script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.swipe.min.js"></script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.scrollVert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.carousel.min.js"></script>
<script src="{{cdn.projects}}js/fancybox/jquery.fancybox.js"></script>
<script src="{{cdn.projects}}js/fancybox/helpers/jquery.fancybox-media.js"></script>
{{{js}}}
</body>
</html>
