<div id="main-banner" class="show-for-medium-up">
  <div id="slide-controls-container">
    <a href="#" id="prev"><i class="fa fa-chevron-left"></i></a>
    <a href="#" id="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <div id="slide-pager"></div>
  <div id="slider" class="cycle-slideshow"
    data-cycle-slides=".slide"
    data-cycle-timeout="10000"
    data-cycle-prev="#prev"
    data-cycle-next="#next"
    data-cycle-pager="#slide-pager"
    data-cycle-pager-template="<a href=#>{{slideNum}}</a>">
      <div class="slide slide1">
        <div class="row">
          <div class="medium-5 columns">
            <div class="slide-content">
              {{{fragment.slide1}}}
            </div>
          </div>
        </div>
      </div>
      <div class="slide slide2">
        <div class="row">
          <div class="medium-5 columns">
            <div class="slide-content">
              {{{fragment.slide2}}}
            </div>
          </div>
        </div>
      </div>
      <div class="slide slide3">
        <div class="row">
          <div class="medium-5 columns">
            <div class="slide-content">
              {{{fragment.slide3}}}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
