<div class="navbar-wrapper">
  <div class="row">
    <div class="large-12 columns">
      <nav class="navbar">
        <ul>
          {{{menu.main}}}
        </ul>
      </nav>
    </div>
  </div>
</div>
