  <div class="text-sizer">
    <div class="btns clearfix">
      <a href="#" class="setFontSize text-sml" title="16">Small</a>
      <a href="#" class="setFontSize text-med" title="18">Medium</a>
      <a href="#" class="setFontSize text-lrg" title="20">Large</a>
    </div>
  </div>
  <div class="cta">
    <div class="cta-img">
      <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/photo-cta-1.jpg" alt="" >
    </div>
    <div class="cta-text">{{{fragment.cta-1}}}</div>
  </div>
  <div class="cta">
    <div class="cta-img">
      <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/photo-cta-2.jpg" alt="" >
    </div>
    <div class="cta-text">{{{fragment.cta-2}}}</div>
  </div>
  <div class="cta">
    <div class="cta-img">
      <img src="{{{cdn.projects}}}projects/{{page.SiteInstance.Site.domain}}/images/photo-cta-3.jpg" alt="" >
    </div>
    <div class="cta-text">{{{fragment.cta-3}}}</div>
  </div>
  <div class="hidden-widgets">{{{sidebar}}}</div>
