<div class="responsive-navbar FixedTop clearfix">
  <a href="#responsive-menu" id="hamburger"><span></span></a>
</div>
<div class="menu-wrapper" style="display:none;">
  <nav id="responsive-menu">
    <ul>
      {{{menu.main}}}
    </ul>
  </nav>
</div>
