<!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="backtotop-btn">
  <div class="backtotop-inner">
    <i class="fa fa-angle-up"></i>
  </div>
</div>
<footer>
  <div class="row">
    <div class="medium-12 columns">
      <nav id="footer-nav" >
        <ul class="list-inline">
          {{{menu.footer}}}
        </ul>
      </nav>
    </div>
  </div>
  <div id="footer-meta-container">
    <div class="row">
      <span>Site Designed by <a href="http://www.audiologydesign.com" rel="nofollow" target="_blank">Audiology Design</a> |
        {{year}} All Rights Reserved</span>
    </div>
  </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')</script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.min.js"></script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.swipe.min.js"></script>
<script src="{{cdn.projects}}js/cycle/jquery.cycle2.scrollVert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.carousel.min.js"></script>
<script src="{{cdn.projects}}js/fancybox/jquery.fancybox.js"></script>
<script src="{{cdn.projects}}js/fancybox/helpers/jquery.fancybox-media.js"></script>
{{{js}}}
</body>
</html>
