<div id="main-banner-container" class="show-for-medium-up">
  <div id="main-slider-wrap">
    <div class="slide-controls-container">
      <a href="#" id="prev"><i class="fa fa-angle-left"></i></a>
      <a href="#" id="next"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="cycle-slideshow"
    data-cycle-fx=carousel
    data-cycle-timeout=7000
    data-cycle-slides=".slide"
    data-cycle-carousel-visible=3
    data-cycle-next="#next"
    data-cycle-prev="#prev"
    >
      <div class="slide slide1">
        <img src="http://lorempixel.com/1170/440/transport/">
        <div class="slide-content-container">
          {{{fragment.slide-1}}}
        </div>
      </div>
      <div class="slide slide-2">
        <img src="http://lorempixel.com/1170/440/transport/">
        <div class="slide-content-container">
          {{{fragment.slide-2}}}
        </div>
      </div>
      <div class="slide slide-3">
        <img src="http://lorempixel.com/1170/440/transport/">
        <div class="slide-content-container">
          {{{fragment.slide-3}}}
        </div>
      </div>
    </div>
  </div>
</div>
